# Préparation des données

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
pd.set_option('max_columns', None)

OptionError: Pattern matched multiple keys

## Charger la donnée

In [2]:
raw_data = pd.read_csv("input/GSoDI_v5.1_bis.txt", "\t")

/var/folders/jg/lxjm4qgs0bj_jqdqztt19bk00000gn/T/ipykernel_48738/2342558322.py:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  raw_data = pd.read_csv("input/GSoDI_v5.1_bis.txt", "\t")

In [3]:
# Regarder dans la base
raw_data.head() # afficher les 5 premières lignes

,ID_country_name,ID_country_code,ID_year,ID_country_year,ID_region,ID_subregion,ID_region_name,ID_subregion_name,var1,var2,...,var41,var42,var43,var44,var45,var46,var47,regime_status_name,democratic_performance_name,democratic_performance_numeric
0,United States,2,1975,21975,3.0,9.0,North America,North America,0.739810,0.677210,...,0.950822,1.0,0.650701,0.81656,0.917181,0.772996,NaN,Democracy,High performing democracy,1.0
1,United States,2,1976,21976,3.0,9.0,North America,North America,0.753778,0.689358,...,0.950822,1.0,0.650701,0.81656,0.917181,0.772996,NaN,Democracy,High performing democracy,1.0
2,United States,2,1977,21977,3.0,9.0,North America,North America,0.822535,0.758995,...,0.950822,1.0,0.650701,0.81656,0.917181,0.772996,NaN,Democracy,High performing democracy,1.0
3,United States,2,1978,21978,3.0,9.0,North America,North America,0.821670,0.757696,...,0.950822,1.0,0.650701,0.81656,0.917181,0.772996,NaN,Democracy,High performing democracy,1.0
4,United States,2,1979,21979,3.0,9.0,North America,North America,0.823376,0.758889,...,0.950822,1.0,0.650701,0.81656,0.917181,0.772996,NaN,Democracy,High performing democracy,1.0

In [4]:
len(raw_data["ID_country_year"].unique())

8533

In [5]:
print(raw_data.shape)
raw_data.info()

(8533, 58)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8533 entries, 0 to 8532
Data columns (total 58 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID_country_name                 8533 non-null   object
 1   ID_country_code                 8533 non-null   int64
 2   ID_year                         8533 non-null   int64
 3   ID_country_year                 8533 non-null   int64
 4   ID_region                       8257 non-null   float64
 5   ID_subregion                    7981 non-null   float64
 6   ID_region_name                  8257 non-null   object
 7   ID_subregion_name               7981 non-null   object
 8   var1                            8512 non-null   float64
 9   var2                            8512 non-null   float64
 10  var3                            7122 non-null   float64
 11  var4                            7123 non-null   float64
 12  var5                            7123 non-null   float64
 13  var6                            7123 non-null   float64
 14  var7                            7104 non-null   float64
 15  var8                            6022 non-null   float64
 16  var9                            7104 non-null   float64
 17  var10                           6019 non-null   float64
 18  var11                           6020 non-null   float64
 19  var12                           7123 non-null   float64
 20  var13                           7123 non-null   float64
 21  var14                           7104 non-null   float64
 22  var15                           6124 non-null   float64
 23  var16                           7123 non-null   float64
 24  var17                           7123 non-null   float64
 25  var18                           7123 non-null   float64
 26  var19                           7104 non-null   float64
 27  var20                           6126 non-null   float64
 28  var21                           6125 non-null   float64
 29  var22                           7123 non-null   float64
 30  var23                           6877 non-null   float64
 31  var24                           4723 non-null   float64
 32  var25                           5997 non-null   float64
 33  var26                           7089 non-null   float64
 34  var27                           4723 non-null   float64
 35  var28                           6949 non-null   float64
 36  var29                           6999 non-null   float64
 37  var30                           6360 non-null   float64
 38  var31                           4498 non-null   float64
 39  var32                           6006 non-null   float64
 40  var33                           5957 non-null   float64
 41  var34                           7006 non-null   float64
 42  var35                           7093 non-null   float64
 43  var36                           4723 non-null   float64
 44  var37                           6100 non-null   float64
 45  var38                           7123 non-null   float64
 46  var39                           7123 non-null   float64
 47  var40                           7123 non-null   float64
 48  var41                           7123 non-null   float64
 49  var42                           7123 non-null   float64
 50  var43                           7123 non-null   float64
 51  var44                           7123 non-null   float64
 52  var45                           7123 non-null   float64
 53  var46                           7123 non-null   float64
 54  var47                           4723 non-null   float64
 55  regime_status_name              7102 non-null   object
 56  democratic_performance_name     7102 non-null   object
 57  democratic_performance_numeric  7102 non-null   float64
dtypes: float64(50), int64(3), object(5)
memory usage: 3.8+ MB

## Conversion des types de variables

In [6]:
# récupérer les colonnes à convertir
stringcols = raw_data.select_dtypes(include='object').columns
print(stringcols)

Index(['ID_country_name', 'ID_region_name', 'ID_subregion_name',
       'regime_status_name', 'democratic_performance_name'],
      dtype='object')

In [7]:
# Conversion des types objet en string

raw_data_conv = raw_data.copy()
raw_data_conv[stringcols] = raw_data_conv[stringcols].astype(str)
raw_data_conv[stringcols] = raw_data_conv[stringcols].astype("string")
raw_data_conv[stringcols] = raw_data_conv[stringcols].replace({pd.NA: np.nan})
raw_data_conv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8533 entries, 0 to 8532
Data columns (total 58 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID_country_name                 8533 non-null   string
 1   ID_country_code                 8533 non-null   int64
 2   ID_year                         8533 non-null   int64
 3   ID_country_year                 8533 non-null   int64
 4   ID_region                       8257 non-null   float64
 5   ID_subregion                    7981 non-null   float64
 6   ID_region_name                  8533 non-null   string
 7   ID_subregion_name               8533 non-null   string
 8   var1                            8512 non-null   float64
 9   var2                            8512 non-null   float64
 10  var3                            7122 non-null   float64
 11  var4                            7123 non-null   float64
 12  var5                            7123 non-null   float64
 13  var6                            7123 non-null   float64
 14  var7                            7104 non-null   float64
 15  var8                            6022 non-null   float64
 16  var9                            7104 non-null   float64
 17  var10                           6019 non-null   float64
 18  var11                           6020 non-null   float64
 19  var12                           7123 non-null   float64
 20  var13                           7123 non-null   float64
 21  var14                           7104 non-null   float64
 22  var15                           6124 non-null   float64
 23  var16                           7123 non-null   float64
 24  var17                           7123 non-null   float64
 25  var18                           7123 non-null   float64
 26  var19                           7104 non-null   float64
 27  var20                           6126 non-null   float64
 28  var21                           6125 non-null   float64
 29  var22                           7123 non-null   float64
 30  var23                           6877 non-null   float64
 31  var24                           4723 non-null   float64
 32  var25                           5997 non-null   float64
 33  var26                           7089 non-null   float64
 34  var27                           4723 non-null   float64
 35  var28                           6949 non-null   float64
 36  var29                           6999 non-null   float64
 37  var30                           6360 non-null   float64
 38  var31                           4498 non-null   float64
 39  var32                           6006 non-null   float64
 40  var33                           5957 non-null   float64
 41  var34                           7006 non-null   float64
 42  var35                           7093 non-null   float64
 43  var36                           4723 non-null   float64
 44  var37                           6100 non-null   float64
 45  var38                           7123 non-null   float64
 46  var39                           7123 non-null   float64
 47  var40                           7123 non-null   float64
 48  var41                           7123 non-null   float64
 49  var42                           7123 non-null   float64
 50  var43                           7123 non-null   float64
 51  var44                           7123 non-null   float64
 52  var45                           7123 non-null   float64
 53  var46                           7123 non-null   float64
 54  var47                           4723 non-null   float64
 55  regime_status_name              8533 non-null   string
 56  democratic_performance_name     8533 non-null   string
 57  democratic_performance_numeric  7102 non-null   float64
dtypes: float64(50), int64(3), string(5)
memory usage: 3.8 MB

In [8]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8533 entries, 0 to 8532
Data columns (total 58 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID_country_name                 8533 non-null   object
 1   ID_country_code                 8533 non-null   int64
 2   ID_year                         8533 non-null   int64
 3   ID_country_year                 8533 non-null   int64
 4   ID_region                       8257 non-null   float64
 5   ID_subregion                    7981 non-null   float64
 6   ID_region_name                  8257 non-null   object
 7   ID_subregion_name               7981 non-null   object
 8   var1                            8512 non-null   float64
 9   var2                            8512 non-null   float64
 10  var3                            7122 non-null   float64
 11  var4                            7123 non-null   float64
 12  var5                            7123 non-null   float64
 13  var6                            7123 non-null   float64
 14  var7                            7104 non-null   float64
 15  var8                            6022 non-null   float64
 16  var9                            7104 non-null   float64
 17  var10                           6019 non-null   float64
 18  var11                           6020 non-null   float64
 19  var12                           7123 non-null   float64
 20  var13                           7123 non-null   float64
 21  var14                           7104 non-null   float64
 22  var15                           6124 non-null   float64
 23  var16                           7123 non-null   float64
 24  var17                           7123 non-null   float64
 25  var18                           7123 non-null   float64
 26  var19                           7104 non-null   float64
 27  var20                           6126 non-null   float64
 28  var21                           6125 non-null   float64
 29  var22                           7123 non-null   float64
 30  var23                           6877 non-null   float64
 31  var24                           4723 non-null   float64
 32  var25                           5997 non-null   float64
 33  var26                           7089 non-null   float64
 34  var27                           4723 non-null   float64
 35  var28                           6949 non-null   float64
 36  var29                           6999 non-null   float64
 37  var30                           6360 non-null   float64
 38  var31                           4498 non-null   float64
 39  var32                           6006 non-null   float64
 40  var33                           5957 non-null   float64
 41  var34                           7006 non-null   float64
 42  var35                           7093 non-null   float64
 43  var36                           4723 non-null   float64
 44  var37                           6100 non-null   float64
 45  var38                           7123 non-null   float64
 46  var39                           7123 non-null   float64
 47  var40                           7123 non-null   float64
 48  var41                           7123 non-null   float64
 49  var42                           7123 non-null   float64
 50  var43                           7123 non-null   float64
 51  var44                           7123 non-null   float64
 52  var45                           7123 non-null   float64
 53  var46                           7123 non-null   float64
 54  var47                           4723 non-null   float64
 55  regime_status_name              7102 non-null   object
 56  democratic_performance_name     7102 non-null   object
 57  democratic_performance_numeric  7102 non-null   float64
dtypes: float64(50), int64(3), object(5)
memory usage: 3.8+ MB

In [9]:
raw_data_conv.info() # afficher les variables, leur type, avec présence ou non de valeurs manquates

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8533 entries, 0 to 8532
Data columns (total 58 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID_country_name                 8533 non-null   string
 1   ID_country_code                 8533 non-null   int64
 2   ID_year                         8533 non-null   int64
 3   ID_country_year                 8533 non-null   int64
 4   ID_region                       8257 non-null   float64
 5   ID_subregion                    7981 non-null   float64
 6   ID_region_name                  8533 non-null   string
 7   ID_subregion_name               8533 non-null   string
 8   var1                            8512 non-null   float64
 9   var2                            8512 non-null   float64
 10  var3                            7122 non-null   float64
 11  var4                            7123 non-null   float64
 12  var5                            7123 non-null   float64
 13  var6                            7123 non-null   float64
 14  var7                            7104 non-null   float64
 15  var8                            6022 non-null   float64
 16  var9                            7104 non-null   float64
 17  var10                           6019 non-null   float64
 18  var11                           6020 non-null   float64
 19  var12                           7123 non-null   float64
 20  var13                           7123 non-null   float64
 21  var14                           7104 non-null   float64
 22  var15                           6124 non-null   float64
 23  var16                           7123 non-null   float64
 24  var17                           7123 non-null   float64
 25  var18                           7123 non-null   float64
 26  var19                           7104 non-null   float64
 27  var20                           6126 non-null   float64
 28  var21                           6125 non-null   float64
 29  var22                           7123 non-null   float64
 30  var23                           6877 non-null   float64
 31  var24                           4723 non-null   float64
 32  var25                           5997 non-null   float64
 33  var26                           7089 non-null   float64
 34  var27                           4723 non-null   float64
 35  var28                           6949 non-null   float64
 36  var29                           6999 non-null   float64
 37  var30                           6360 non-null   float64
 38  var31                           4498 non-null   float64
 39  var32                           6006 non-null   float64
 40  var33                           5957 non-null   float64
 41  var34                           7006 non-null   float64
 42  var35                           7093 non-null   float64
 43  var36                           4723 non-null   float64
 44  var37                           6100 non-null   float64
 45  var38                           7123 non-null   float64
 46  var39                           7123 non-null   float64
 47  var40                           7123 non-null   float64
 48  var41                           7123 non-null   float64
 49  var42                           7123 non-null   float64
 50  var43                           7123 non-null   float64
 51  var44                           7123 non-null   float64
 52  var45                           7123 non-null   float64
 53  var46                           7123 non-null   float64
 54  var47                           4723 non-null   float64
 55  regime_status_name              8533 non-null   string
 56  democratic_performance_name     8533 non-null   string
 57  democratic_performance_numeric  7102 non-null   float64
dtypes: float64(50), int64(3), string(5)
memory usage: 3.8 MB

## Détecter les valeurs manquantes

In [10]:
# nombre de valeurs manquantes
print(raw_data_conv.isnull().sum().sort_values(ascending=False))
# Proportion de valeurs manquantes
raw_data_conv.isnull().mean().sort_values(ascending=False)

var31                             4035
var47                             3810
var36                             3810
var27                             3810
var24                             3810
var33                             2576
var25                             2536
var32                             2527
var10                             2514
var11                             2513
var8                              2511
var37                             2433
var15                             2409
var21                             2408
var20                             2407
var30                             2173
var23                             1656
var28                             1584
var29                             1534
var34                             1527
var26                             1444
var35                             1440
democratic_performance_numeric    1431
var19                             1429
var9                              1429
var7                              1429
var14                             1429
var3                              1411
var39                             1410
var38                             1410
var41                             1410
var42                             1410
var43                             1410
var44                             1410
var45                             1410
var46                             1410
var40                             1410
var22                             1410
var17                             1410
var16                             1410
var13                             1410
var12                             1410
var6                              1410
var5                              1410
var4                              1410
var18                             1410
ID_subregion                       552
ID_region                          276
var1                                21
var2                                21
ID_year                              0
democratic_performance_name          0
regime_status_name                   0
ID_country_code                      0
ID_country_year                      0
ID_region_name                       0
ID_subregion_name                    0
ID_country_name                      0
dtype: int64

var31                             0.472870
var47                             0.446502
var36                             0.446502
var27                             0.446502
var24                             0.446502
var33                             0.301887
var25                             0.297199
var32                             0.296144
var10                             0.294621
var11                             0.294504
var8                              0.294269
var37                             0.285128
var15                             0.282316
var21                             0.282199
var20                             0.282081
var30                             0.254658
var23                             0.194070
var28                             0.185632
var29                             0.179773
var34                             0.178952
var26                             0.169225
var35                             0.168757
democratic_performance_numeric    0.167702
var19                             0.167467
var9                              0.167467
var7                              0.167467
var14                             0.167467
var3                              0.165358
var39                             0.165241
var38                             0.165241
var41                             0.165241
var42                             0.165241
var43                             0.165241
var44                             0.165241
var45                             0.165241
var46                             0.165241
var40                             0.165241
var22                             0.165241
var17                             0.165241
var16                             0.165241
var13                             0.165241
var12                             0.165241
var6                              0.165241
var5                              0.165241
var4                              0.165241
var18                             0.165241
ID_subregion                      0.064690
ID_region                         0.032345
var1                              0.002461
var2                              0.002461
ID_year                           0.000000
democratic_performance_name       0.000000
regime_status_name                0.000000
ID_country_code                   0.000000
ID_country_year                   0.000000
ID_region_name                    0.000000
ID_subregion_name                 0.000000
ID_country_name                   0.000000
dtype: float64

## Supprimer les valeurs manquantes

In [11]:
# 0 pour supprimer toutes les lignes contenant des valeurs manquantes
data_supp_lignes = raw_data_conv.dropna(axis=0)

print(data_supp_lignes.shape)

# 1 pour supprimer les colonnes contenant des valeurs manquantes

data_supp_col = raw_data_conv.dropna(axis=1)

print(data_supp_col.shape)

(2977, 58)
(8533, 8)

## Imputation

### Manuellement

In [12]:
# récupérer les colonnes à convertir
floatcols = raw_data_conv.select_dtypes(include='float64').columns
print(floatcols)

Index(['ID_region', 'ID_subregion', 'var1', 'var2', 'var3', 'var4', 'var5',
       'var6', 'var7', 'var8', 'var9', 'var10', 'var11', 'var12', 'var13',
       'var14', 'var15', 'var16', 'var17', 'var18', 'var19', 'var20', 'var21',
       'var22', 'var23', 'var24', 'var25', 'var26', 'var27', 'var28', 'var29',
       'var30', 'var31', 'var32', 'var33', 'var34', 'var35', 'var36', 'var37',
       'var38', 'var39', 'var40', 'var41', 'var42', 'var43', 'var44', 'var45',
       'var46', 'var47', 'democratic_performance_numeric'],
      dtype='object')

In [1]:
data_median =  raw_data_conv[floatcols].fillna(raw_data_conv[floatcols].median())
data_moyenne = raw_data_conv[floatcols].fillna(raw_data_conv[floatcols].mean())
data_mode = raw_data_conv[floatcols].fillna(raw_data_conv[floatcols].mode())

NameError: name 'raw_data_conv' is not defined

In [14]:
print(" les stats descriptives après imputation par la médiane :", data_median.describe())
print(" les stats descriptives après imputation par la moyenne :", data_moyenne.describe())
print(" les stats descriptives après imputation par le mode :", data_mode.describe())
print(" les stats descriptives avant imputation:", raw_data_conv.describe())

 les stats descriptives après imputation par la médiane :          ID_region  ID_subregion         var1         var2         var3  \
count  8533.000000   8533.000000  8533.000000  8533.000000  8533.000000
mean      3.354506     10.140279     0.484569     0.420766     0.693777
std       1.960660      5.586270     0.278449     0.278507     0.323531
min       1.000000      1.000000     0.000000    -0.069277     0.000000
25%       1.000000      5.000000     0.263688     0.199919     0.666667
50%       4.000000     11.000000     0.500959     0.437240     0.666667
75%       5.000000     15.000000     0.734291     0.671336     1.000000
max       6.000000     19.000000     0.971263     0.905773     1.000000

              var4         var5         var6         var7         var8  ...  \
count  8533.000000  8533.000000  8533.000000  8533.000000  8533.000000  ...
mean      0.590907     0.578848     0.589504     0.466073     0.476151  ...
std       0.168830     0.165653     0.217750     0.298519     0.305136  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       0.474911     0.474670     0.447025     0.333333     0.500000  ...
50%       0.588317     0.579454     0.614731     0.333333     0.500000  ...
75%       0.683604     0.665256     0.740793     0.666667     0.500000  ...
max       1.000000     1.000000     1.000000     1.000000     1.000000  ...

             var39        var40        var41        var42        var43  \
count  8533.000000  8533.000000  8533.000000  8533.000000  8533.000000
mean      0.622183     0.590051     0.530164     0.392183     0.408802
std       0.251603     0.237496     0.235100     0.376248     0.189921
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.453596     0.449476     0.407987     0.000000     0.283354
50%       0.696985     0.651263     0.537040     0.500000     0.377759
75%       0.795520     0.759858     0.679248     0.500000     0.519228
max       1.000000     1.000000     1.000000     1.000000     1.000000

             var44        var45        var46        var47  \
count  8533.000000  8533.000000  8533.000000  8533.000000
mean      0.491775     0.489279     0.442512     0.480522
std       0.196176     0.214562     0.209109     0.165657
min       0.000000     0.000000     0.000000     0.000000
25%       0.354614     0.349192     0.309458     0.416667
50%       0.462085     0.463583     0.415740     0.472222
75%       0.594787     0.593833     0.572419     0.500000
max       1.000000     1.000000     1.000000     1.000000

       democratic_performance_numeric
count                     8533.000000
mean                         3.333294
std                          1.395614
min                          1.000000
25%                          2.000000
50%                          3.000000
75%                          5.000000
max                          5.000000

[8 rows x 50 columns]
 les stats descriptives après imputation par la moyenne :          ID_region  ID_subregion         var1         var2         var3  \
count  8533.000000   8533.000000  8533.000000  8533.000000  8533.000000
mean      3.332930     10.080817     0.484528     0.420725     0.699148
std       1.957105      5.581692     0.278448     0.278505     0.323305
min       1.000000      1.000000     0.000000    -0.069277     0.000000
25%       1.000000      5.000000     0.263688     0.199919     0.666667
50%       4.000000     10.080817     0.500055     0.436103     0.699148
75%       5.000000     15.000000     0.734291     0.671336     1.000000
max       6.000000     19.000000     0.971263     0.905773     1.000000

              var4         var5         var6         var7         var8  ...  \
count  8533.000000  8533.000000  8533.000000  8533.000000  8533.000000  ...
mean      0.591420     0.578729     0.584510     0.492774     0.466207  ...
std       0.168827     0.165653     0.217460     0.292522     0.304747  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       0.474911     0.474670     0.447025     0.333333     0.466207  ...
50%       0.591420     0.578729     0.584510     0.492774     0.466207  ...
75%       0.683604     0.665256     0.740793     0.666667     0.500000  ...
max       1.000000     1.000000     1.000000     1.000000     1.000000  ...

             var39        var40        var41        var42        var43  \
count  8533.000000  8533.000000  8533.000000  8533.000000  8533.000000
mean      0.607376     0.577934     0.528803     0.370841     0.414946
std       0.249392     0.235929     0.235080     0.373177     0.189418
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.453596     0.449476     0.407987     0.000000     0.283354
50%       0.609399     0.583641     0.528803     0.370841     0.414946
75%       0.795520     0.759858     0.679248     0.500000     0.519228
max       1.000000     1.000000     1.000000     1.000000     1.000000

             var44        var45        var46        var47  \
count  8533.000000  8533.000000  8533.000000  8533.000000
mean      0.497652     0.494366     0.447812     0.487217
std       0.195731     0.214258     0.208770     0.165490
min       0.000000     0.000000     0.000000     0.000000
25%       0.354614     0.349192     0.309458     0.416667
50%       0.497652     0.494366     0.447812     0.487217
75%       0.594787     0.593833     0.572419     0.500000
max       1.000000     1.000000     1.000000     1.000000

       democratic_performance_numeric
count                     8533.000000
mean                         3.400451
std                          1.387571
min                          1.000000
25%                          2.000000
50%                          3.400451
75%                          5.000000
max                          5.000000

[8 rows x 50 columns]
 les stats descriptives après imputation par le mode :          ID_region  ID_subregion         var1         var2         var3  \
count  8257.000000   7981.000000  8512.000000  8512.000000  7122.000000
mean      3.332930     10.080817     0.484528     0.420725     0.699148
std       1.989549      5.771515     0.278792     0.278849     0.353890
min       1.000000      1.000000     0.000000    -0.069277     0.000000
25%       1.000000      4.000000     0.262717     0.198906     0.333333
50%       4.000000     11.000000     0.500959     0.437240     0.666667
75%       5.000000     15.000000     0.735244     0.671877     1.000000
max       6.000000     19.000000     0.971263     0.905773     1.000000

              var4         var5         var6         var7         var8  ...  \
count  7123.000000  7123.000000  7123.000000  7104.000000  6023.000000  ...
mean      0.591420     0.578729     0.584510     0.492774     0.466213  ...
std       0.184784     0.181311     0.238015     0.320599     0.362739  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       0.445261     0.447095     0.404816     0.333333     0.000000  ...
50%       0.588317     0.579454     0.614731     0.333333     0.500000  ...
75%       0.718702     0.702834     0.784136     0.666667     0.500000  ...
max       1.000000     1.000000     1.000000     1.000000     1.000000  ...

             var39        var40        var41        var42        var43  \
count  7123.000000  7123.000000  7123.000000  7123.000000  7123.000000
mean      0.607376     0.577934     0.528803     0.370841     0.414946
std       0.272965     0.258230     0.257300     0.408450     0.207322
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.386390     0.371072     0.345027     0.000000     0.258226
50%       0.696985     0.651263     0.537040     0.500000     0.377759
75%       0.825838     0.777418     0.732185     0.500000     0.554630
max       1.000000     1.000000     1.000000     1.000000     1.000000

             var44        var45        var46        var47  \
count  7123.000000  7123.000000  7123.000000  4724.000000
mean      0.497652     0.494366     0.447812     0.487185
std       0.214232     0.234510     0.228503     0.222438
min       0.000000     0.000000     0.000000     0.000000
25%       0.335935     0.313950     0.287076     0.333333
50%       0.462085     0.463583     0.415740     0.472222
75%       0.631447     0.654772     0.607220     0.666667
max       1.000000     1.000000     1.000000     1.000000

       democratic_performance_numeric
count                     7102.000000
mean                         3.400451
std                          1.520971
min                          1.000000
25%                          2.000000
50%                          3.000000
75%                          5.000000
max                          5.000000

[8 rows x 50 columns]
 les stats descriptives avant imputation:        ID_country_code      ID_year  ID_country_year    ID_region  \
count      8533.000000  8533.000000     8.533000e+03  8257.000000
mean        549.875073  1998.229579     5.500749e+06     3.332930
std         289.792266    13.166490     2.897923e+06     1.989549
min           2.000000  1975.000000     2.197500e+04     1.000000
25%         350.000000  1987.000000     3.501985e+06     1.000000
50%         540.000000  1999.000000     5.401980e+06     4.000000
75%         775.000000  2010.000000     7.752003e+06     5.000000
max         999.000000  2020.000000     9.992020e+06     6.000000

       ID_subregion         var1         var2         var3         var4  \
count   7981.000000  8512.000000  8512.000000  7122.000000  7123.000000
mean      10.080817     0.484528     0.420725     0.699148     0.591420
std        5.771515     0.278792     0.278849     0.353890     0.184784
min        1.000000     0.000000    -0.069277     0.000000     0.000000
25%        4.000000     0.262717     0.198906     0.333333     0.445261
50%       11.000000     0.500959     0.437240     0.666667     0.588317
75%       15.000000     0.735244     0.671877     1.000000     0.718702
max       19.000000     0.971263     0.905773     1.000000     1.000000

              var5  ...        var39        var40        var41        var42  \
count  7123.000000  ...  7123.000000  7123.000000  7123.000000  7123.000000
mean      0.578729  ...     0.607376     0.577934     0.528803     0.370841
std       0.181311  ...     0.272965     0.258230     0.257300     0.408450
min       0.000000  ...     0.000000     0.000000     0.000000     0.000000
25%       0.447095  ...     0.386390     0.371072     0.345027     0.000000
50%       0.579454  ...     0.696985     0.651263     0.537040     0.500000
75%       0.702834  ...     0.825838     0.777418     0.732185     0.500000
max       1.000000  ...     1.000000     1.000000     1.000000     1.000000

             var43        var44        var45        var46        var47  \
count  7123.000000  7123.000000  7123.000000  7123.000000  4723.000000
mean      0.414946     0.497652     0.494366     0.447812     0.487217
std       0.207322     0.214232     0.234510     0.228503     0.222450
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.258226     0.335935     0.313950     0.287076     0.333333
50%       0.377759     0.462085     0.463583     0.415740     0.472222
75%       0.554630     0.631447     0.654772     0.607220     0.666667
max       1.000000     1.000000     1.000000     1.000000     1.000000

       democratic_performance_numeric
count                     7102.000000
mean                         3.400451
std                          1.520971
min                          1.000000
25%                          2.000000
50%                          3.000000
75%                          5.000000
max                          5.000000

[8 rows x 53 columns]

### Automatisée

In [15]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan, strategy='median').fit(raw_data_conv[floatcols])

# mean, most_frequent, median

data_impute = imputer.transform(raw_data_conv[floatcols].values)

data_impute_auto_float = pd.DataFrame(data_impute, columns = floatcols)

print(data_impute_auto_float)
print(data_impute_auto_float.info())

data_impute_auto_float.describe()

      ID_region  ID_subregion      var1      var2      var3      var4  \
0           3.0           9.0  0.739810  0.677210  1.000000  0.834769
1           3.0           9.0  0.753778  0.689358  1.000000  0.834769
2           3.0           9.0  0.822535  0.758995  1.000000  0.834769
3           3.0           9.0  0.821670  0.757696  1.000000  0.834769
4           3.0           9.0  0.823376  0.758889  1.000000  0.834769
...         ...           ...       ...       ...       ...       ...
8528        4.0          11.0  0.563625  0.499823  0.666667  0.588317
8529        4.0          11.0  0.562800  0.498907  0.666667  0.588317
8530        4.0          11.0  0.558651  0.494782  0.666667  0.588317
8531        4.0          11.0  0.553332  0.489436  0.666667  0.588317
8532        4.0          11.0  0.552947  0.489178  0.666667  0.588317

          var5      var6      var7  var8  ...     var39     var40     var41  \
0     0.788124  0.969688  1.000000   0.5  ...  0.743978  0.793592  0.950822
1     0.788124  0.969688  1.000000   0.5  ...  0.743978  0.793592  0.950822
2     0.788124  0.969688  1.000000   0.5  ...  0.743978  0.793592  0.950822
3     0.788124  0.969688  1.000000   0.5  ...  0.743978  0.793592  0.950822
4     0.788124  0.969688  1.000000   0.5  ...  0.743978  0.793592  0.950822
...        ...       ...       ...   ...  ...       ...       ...       ...
8528  0.579454  0.614731  0.333333   0.5  ...  0.696985  0.651263  0.537040
8529  0.579454  0.614731  0.333333   0.5  ...  0.696985  0.651263  0.537040
8530  0.579454  0.614731  0.333333   0.5  ...  0.696985  0.651263  0.537040
8531  0.579454  0.614731  0.333333   0.5  ...  0.696985  0.651263  0.537040
8532  0.579454  0.614731  0.333333   0.5  ...  0.696985  0.651263  0.537040

      var42     var43     var44     var45     var46     var47  \
0       1.0  0.650701  0.816560  0.917181  0.772996  0.472222
1       1.0  0.650701  0.816560  0.917181  0.772996  0.472222
2       1.0  0.650701  0.816560  0.917181  0.772996  0.472222
3       1.0  0.650701  0.816560  0.917181  0.772996  0.472222
4       1.0  0.650701  0.816560  0.917181  0.772996  0.472222
...     ...       ...       ...       ...       ...       ...
8528    0.5  0.377759  0.462085  0.463583  0.415740  0.472222
8529    0.5  0.377759  0.462085  0.463583  0.415740  0.472222
8530    0.5  0.377759  0.462085  0.463583  0.415740  0.472222
8531    0.5  0.377759  0.462085  0.463583  0.415740  0.472222
8532    0.5  0.377759  0.462085  0.463583  0.415740  0.472222

      democratic_performance_numeric
0                                1.0
1                                1.0
2                                1.0
3                                1.0
4                                1.0
...                              ...
8528                             3.0
8529                             3.0
8530                             3.0
8531                             3.0
8532                             3.0

[8533 rows x 50 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8533 entries, 0 to 8532
Data columns (total 50 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID_region                       8533 non-null   float64
 1   ID_subregion                    8533 non-null   float64
 2   var1                            8533 non-null   float64
 3   var2                            8533 non-null   float64
 4   var3                            8533 non-null   float64
 5   var4                            8533 non-null   float64
 6   var5                            8533 non-null   float64
 7   var6                            8533 non-null   float64
 8   var7                            8533 non-null   float64
 9   var8                            8533 non-null   float64
 10  var9                            8533 non-null   float64
 11  var10                           8533 non-null   float64
 12  var11                           8533 non-null   float64
 13  var12                           8533 non-null   float64
 14  var13                           8533 non-null   float64
 15  var14                           8533 non-null   float64
 16  var15                           8533 non-null   float64
 17  var16                           8533 non-null   float64
 18  var17                           8533 non-null   float64
 19  var18                           8533 non-null   float64
 20  var19                           8533 non-null   float64
 21  var20                           8533 non-null   float64
 22  var21                           8533 non-null   float64
 23  var22                           8533 non-null   float64
 24  var23                           8533 non-null   float64
 25  var24                           8533 non-null   float64
 26  var25                           8533 non-null   float64
 27  var26                           8533 non-null   float64
 28  var27                           8533 non-null   float64
 29  var28                           8533 non-null   float64
 30  var29                           8533 non-null   float64
 31  var30                           8533 non-null   float64
 32  var31                           8533 non-null   float64
 33  var32                           8533 non-null   float64
 34  var33                           8533 non-null   float64
 35  var34                           8533 non-null   float64
 36  var35                           8533 non-null   float64
 37  var36                           8533 non-null   float64
 38  var37                           8533 non-null   float64
 39  var38                           8533 non-null   float64
 40  var39                           8533 non-null   float64
 41  var40                           8533 non-null   float64
 42  var41                           8533 non-null   float64
 43  var42                           8533 non-null   float64
 44  var43                           8533 non-null   float64
 45  var44                           8533 non-null   float64
 46  var45                           8533 non-null   float64
 47  var46                           8533 non-null   float64
 48  var47                           8533 non-null   float64
 49  democratic_performance_numeric  8533 non-null   float64
dtypes: float64(50)
memory usage: 3.3 MB
None

/opt/homebrew/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but SimpleImputer was fitted with feature names
  warnings.warn(

,ID_region,ID_subregion,var1,var2,var3,var4,var5,var6,var7,var8,...,var39,var40,var41,var42,var43,var44,var45,var46,var47,democratic_performance_numeric
count,8533.000000,8533.000000,8533.000000,8533.000000,8533.000000,8533.000000,8533.000000,8533.000000,8533.000000,8533.000000,...,8533.000000,8533.000000,8533.000000,8533.000000,8533.000000,8533.000000,8533.000000,8533.000000,8533.000000,8533.000000
mean,3.354506,10.140279,0.484569,0.420766,0.693777,0.590907,0.578848,0.589504,0.466073,0.476151,...,0.622183,0.590051,0.530164,0.392183,0.408802,0.491775,0.489279,0.442512,0.480522,3.333294
std,1.960660,5.586270,0.278449,0.278507,0.323531,0.168830,0.165653,0.217750,0.298519,0.305136,...,0.251603,0.237496,0.235100,0.376248,0.189921,0.196176,0.214562,0.209109,0.165657,1.395614
min,1.000000,1.000000,0.000000,-0.069277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,1.000000,5.000000,0.263688,0.199919,0.666667,0.474911,0.474670,0.447025,0.333333,0.500000,...,0.453596,0.449476,0.407987,0.000000,0.283354,0.354614,0.349192,0.309458,0.416667,2.000000
50%,4.000000,11.000000,0.500959,0.437240,0.666667,0.588317,0.579454,0.614731,0.333333,0.500000,...,0.696985,0.651263,0.537040,0.500000,0.377759,0.462085,0.463583,0.415740,0.472222,3.000000
75%,5.000000,15.000000,0.734291,0.671336,1.000000,0.683604,0.665256,0.740793,0.666667,0.500000,...,0.795520,0.759858,0.679248,0.500000,0.519228,0.594787,0.593833,0.572419,0.500000,5.000000
max,6.000000,19.000000,0.971263,0.905773,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000

In [16]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent').fit(raw_data_conv[stringcols])

# mean, most_frequent, median

data_impute = imputer.transform(raw_data_conv[stringcols].values)

data_impute_auto_string = pd.DataFrame(data_impute, columns = stringcols, dtype="string")

print(data_impute_auto_string)
print(data_impute_auto_string.info())

data_impute_auto_string.describe()

     ID_country_name ID_region_name ID_subregion_name regime_status_name  \
0      United States  North America     North America          Democracy
1      United States  North America     North America          Democracy
2      United States  North America     North America          Democracy
3      United States  North America     North America          Democracy
4      United States  North America     North America          Democracy
...              ...            ...               ...                ...
8528           World            nan               nan                nan
8529           World            nan               nan                nan
8530           World            nan               nan                nan
8531           World            nan               nan                nan
8532           World            nan               nan                nan

     democratic_performance_name
0      High performing democracy
1      High performing democracy
2      High performing democracy
3      High performing democracy
4      High performing democracy
...                          ...
8528                         nan
8529                         nan
8530                         nan
8531                         nan
8532                         nan

[8533 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8533 entries, 0 to 8532
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID_country_name              8533 non-null   string
 1   ID_region_name               8533 non-null   string
 2   ID_subregion_name            8533 non-null   string
 3   regime_status_name           8533 non-null   string
 4   democratic_performance_name  8533 non-null   string
dtypes: string(5)
memory usage: 333.4 KB
None

/opt/homebrew/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but SimpleImputer was fitted with feature names
  warnings.warn(

,ID_country_name,ID_region_name,ID_subregion_name,regime_status_name,democratic_performance_name
count,8533,8533,8533,8533,8533
unique,195,7,20,4,6
top,North America,Africa,West Africa,Democracy,Authoritarian Regime
freq,92,2507,782,3553,2866

In [17]:
data_nettoye = pd.concat([raw_data["ID_country_year"], data_impute_auto_string, data_impute_auto_float], axis=1, join="outer") 
data_nettoye.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8533 entries, 0 to 8532
Data columns (total 56 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID_country_year                 8533 non-null   int64
 1   ID_country_name                 8533 non-null   string
 2   ID_region_name                  8533 non-null   string
 3   ID_subregion_name               8533 non-null   string
 4   regime_status_name              8533 non-null   string
 5   democratic_performance_name     8533 non-null   string
 6   ID_region                       8533 non-null   float64
 7   ID_subregion                    8533 non-null   float64
 8   var1                            8533 non-null   float64
 9   var2                            8533 non-null   float64
 10  var3                            8533 non-null   float64
 11  var4                            8533 non-null   float64
 12  var5                            8533 non-null   float64
 13  var6                            8533 non-null   float64
 14  var7                            8533 non-null   float64
 15  var8                            8533 non-null   float64
 16  var9                            8533 non-null   float64
 17  var10                           8533 non-null   float64
 18  var11                           8533 non-null   float64
 19  var12                           8533 non-null   float64
 20  var13                           8533 non-null   float64
 21  var14                           8533 non-null   float64
 22  var15                           8533 non-null   float64
 23  var16                           8533 non-null   float64
 24  var17                           8533 non-null   float64
 25  var18                           8533 non-null   float64
 26  var19                           8533 non-null   float64
 27  var20                           8533 non-null   float64
 28  var21                           8533 non-null   float64
 29  var22                           8533 non-null   float64
 30  var23                           8533 non-null   float64
 31  var24                           8533 non-null   float64
 32  var25                           8533 non-null   float64
 33  var26                           8533 non-null   float64
 34  var27                           8533 non-null   float64
 35  var28                           8533 non-null   float64
 36  var29                           8533 non-null   float64
 37  var30                           8533 non-null   float64
 38  var31                           8533 non-null   float64
 39  var32                           8533 non-null   float64
 40  var33                           8533 non-null   float64
 41  var34                           8533 non-null   float64
 42  var35                           8533 non-null   float64
 43  var36                           8533 non-null   float64
 44  var37                           8533 non-null   float64
 45  var38                           8533 non-null   float64
 46  var39                           8533 non-null   float64
 47  var40                           8533 non-null   float64
 48  var41                           8533 non-null   float64
 49  var42                           8533 non-null   float64
 50  var43                           8533 non-null   float64
 51  var44                           8533 non-null   float64
 52  var45                           8533 non-null   float64
 53  var46                           8533 non-null   float64
 54  var47                           8533 non-null   float64
 55  democratic_performance_numeric  8533 non-null   float64
dtypes: float64(50), int64(1), string(5)
memory usage: 3.6 MB

## Sélection des variables

In [18]:
features_float = ['var1', 'var2', 'var3', 'var4', 'var5',
       'var6', 'var7', 'var8', 'var9', 'var10', 'var11', 'var12', 'var13',
       'var14', 'var15', 'var16', 'var17', 'var18', 'var19', 'var20', 'var21',
       'var22', 'var23', 'var24', 'var25', 'var26', 'var27', 'var28', 'var29',
       'var30', 'var31', 'var32', 'var33', 'var34', 'var35', 'var36', 'var37',
       'var38', 'var39', 'var40', 'var41', 'var42', 'var43', 'var44', 'var45',
       'var46', 'var47', 'democratic_performance_numeric']

data_nettoye[features_float].head()

,var1,var2,var3,var4,var5,var6,var7,var8,var9,var10,...,var39,var40,var41,var42,var43,var44,var45,var46,var47,democratic_performance_numeric
0,0.739810,0.677210,1.0,0.834769,0.788124,0.969688,1.0,0.5,1.0,0.5,...,0.743978,0.793592,0.950822,1.0,0.650701,0.81656,0.917181,0.772996,0.472222,1.0
1,0.753778,0.689358,1.0,0.834769,0.788124,0.969688,1.0,0.5,1.0,0.5,...,0.743978,0.793592,0.950822,1.0,0.650701,0.81656,0.917181,0.772996,0.472222,1.0
2,0.822535,0.758995,1.0,0.834769,0.788124,0.969688,1.0,0.5,1.0,0.5,...,0.743978,0.793592,0.950822,1.0,0.650701,0.81656,0.917181,0.772996,0.472222,1.0
3,0.821670,0.757696,1.0,0.834769,0.788124,0.969688,1.0,0.5,1.0,0.5,...,0.743978,0.793592,0.950822,1.0,0.650701,0.81656,0.917181,0.772996,0.472222,1.0
4,0.823376,0.758889,1.0,0.834769,0.788124,0.969688,1.0,0.5,1.0,0.5,...,0.743978,0.793592,0.950822,1.0,0.650701,0.81656,0.917181,0.772996,0.472222,1.0

In [19]:
features_string = ['ID_region_name', 'regime_status_name', 'democratic_performance_name']

data_nettoye[features_string].head()


print(data_nettoye[features_string].value_counts())

print(data_nettoye['ID_region_name'].value_counts())

print(data_nettoye['regime_status_name'].value_counts())

data_nettoye['democratic_performance_name'].value_counts()

ID_region_name           regime_status_name    democratic_performance_name
Africa                   Authoritarian Regime  Authoritarian Regime              1369
Europe                   Democracy             High performing democracy          683
                                               Mid-range performing democracy     669
Asia/Pacific             Authoritarian Regime  Authoritarian Regime               597
Middle East              Authoritarian Regime  Authoritarian Regime               494
Latin America/Caribbean  Democracy             Mid-range performing democracy     470
Africa                   Democracy             Weak democracy                     324
Asia/Pacific             Democracy             Mid-range performing democracy     308
Africa                   nan                   nan                                296
                         Hybrid Regime         Hybrid Regime                      283
nan                      nan                   nan                                276
Latin America/Caribbean  Democracy             Weak democracy                     269
Asia/Pacific             nan                   nan                                260
Africa                   Democracy             Mid-range performing democracy     235
Europe                   nan                   nan                                231
Latin America/Caribbean  Authoritarian Regime  Authoritarian Regime               206
Europe                   Authoritarian Regime  Authoritarian Regime               200
Latin America/Caribbean  nan                   nan                                184
Asia/Pacific             Democracy             Weak democracy                     183
                         Hybrid Regime         Hybrid Regime                      165
                         Democracy             High performing democracy          109
Europe                   Hybrid Regime         Hybrid Regime                      103
                         Democracy             Weak democracy                      93
Middle East              nan                   nan                                 92
North America            nan                   nan                                 92
                         Democracy             High performing democracy           79
Latin America/Caribbean  Hybrid Regime         Hybrid Regime                       78
Middle East              Hybrid Regime         Hybrid Regime                       54
                         Democracy             Weak democracy                      37
Latin America/Caribbean  Democracy             High performing democracy           35
Middle East              Democracy             Mid-range performing democracy      28
                                               High performing democracy           18
North America            Democracy             Mid-range performing democracy      13
dtype: int64
Africa                     2507
Europe                     1979
Asia/Pacific               1622
Latin America/Caribbean    1242
Middle East                 723
nan                         276
North America               184
Name: ID_region_name, dtype: Int64
Democracy               3553
Authoritarian Regime    2866
nan                     1431
Hybrid Regime            683
Name: regime_status_name, dtype: Int64

Authoritarian Regime              2866
Mid-range performing democracy    1723
nan                               1431
High performing democracy          924
Weak democracy                     906
Hybrid Regime                      683
Name: democratic_performance_name, dtype: Int64

In [ ]:
#data = data.drop(columns=['wpt_name', 'recorded_by', 'num_private', 'region', 'payment', 'source_type', 'source_class',
 #                         'extraction_type_class', 'extraction_type_group', 'quantity_group', 'quality_group',
  #                        'waterpoint_type_group', 'funder', 'installer', 'id', 'subvillage', 'lga', 'ward',
   #                       'date_recorded', 'scheme_name'])
data_nettoye_select = data_nettoye[features_string + features_float]

print(data_nettoye_select.shape)
data_nettoye_select.head()

In [ ]:
data_nettoye_select["democratic_performance_name"].value_counts()

In [ ]:
data_nettoye_select["regime_status_name"].value_counts().sort_index()

## Champ de travail

In [ ]:
data_nettoye_select_champ = data_nettoye_select[data_nettoye_select["ID_region_name"].isin(["Africa", "Asia/Pacific", "Latin America/Caribbean", "Middle East"])]

In [ ]:
#titanic[titanic["Age"] > 35]
#titanic[titanic["Pclass"].isin(["Africa", "Asia/Pacific", "Latin America/Caribbean", "Middle East"])]
#titanic[titanic["Age"].notna()]

## Recodage des variables

In [ ]:
def regime_status_name(df):
    code = {'Authoritarian Regime':1,
            'Democracy':2,
            'Hybrid Regime':3            
            }

    df.loc[:,'regime_status_name_rec'] = df['regime_status_name'].map(code) # appliquer le schéma de recodage 
    df['regime_status_name_rec'] = df['regime_status_name_rec'].fillna(0)
    return df

data_nettoye_select_champ_rec = regime_status_name(data_nettoye_select_champ)

print(data_nettoye_select_champ_rec["regime_status_name"].value_counts().sort_index())
print(data_nettoye_select_champ_rec["regime_status_name_rec"].value_counts().sort_index())
data_nettoye_select_champ_rec["regime_status_name_rec"].isnull().sum()

### Données propre

In [ ]:
data_propre = data_nettoye_select_champ.copy()

# Analyse des données

## Statistiques descriptives

### Variables quantitatives

In [ ]:
data_propre[features_float].describe()

#### Table de corrélation

In [ ]:
# calcul de la table de corrélation

corr = data_propre[['var1', 'var2', 'var3', 'var4', 'var5',
       'var6', 'var7', 'var8', 'var9', 'var10']].corr() #test de correlation sur les 10 premières variables

In [ ]:
corr

### Variables qualitatives

In [ ]:
data_propre[features_string].describe()

# Visualisation

### Variables quantitatives

In [ ]:
data_propre[features_float].hist(figsize=(16, 20), bins=50, xlabelsize=8, ylabelsize=8)

#### graphique des correlations

In [ ]:
# graphique des correlations
plt.figure(figsize=(20, 20))

plt.title("Table de corrélation des 10 premières variables", fontsize=30)

sns.set(style="darkgrid", font_scale=2)
plt.xlabel("",fontsize=20)
plt.ylabel("",fontsize=20)

sns.heatmap(corr, 
            cmap='viridis',
            cbar=True,
            #vmax=1.0, vmin=-1.0,
            linewidths=0.3,
            annot=True,
            #annot_kws={"size": 8}, square=True
           );

### Variables qualitatives

In [ ]:
# set a grey background (use sns.set_theme() if seaborn version 0.11.0 or above) 
sns.set(style="darkgrid", font_scale=1.4)
plt.figure(figsize=(20, 10))
plt.title('Fréquence de la performance démocratique', fontsize=30)
plt.xlabel("Performance démocratique", fontsize=20)
plt.ylabel("Fréquence", fontsize=20)
sns.histplot(data_propre['democratic_performance_name'], bins = 10, kde=True,  color='red')

### Croisement quali et quanti

In [ ]:
plt.figure(figsize=(25, 20))
sns.set(style="darkgrid", font_scale=1.8)
plt.title("Performance démocratique par var1", fontsize=20)
plt.xlabel("Performance démocratique", fontsize=20)
plt.ylabel("var1", fontsize=20)
sns.boxplot(x='democratic_performance_name', y='var1', data=data_propre)

# Sauvegarde

In [ ]:
data_propre.to_csv('output/GSoDI_v5.1_bis_cleaned.csv', encoding='utf-8')