# Contrôle Continu

### Nom et prénom de l'étudiant

# Préparation des données

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
#pd.set_option('max_columns', None)

## 1- Charger la donnée

In [ ]:
raw_data = pd.read_csv("./diabetes.txt", sep="\t")

## 2- Afficher les 10 premières lignes de la raw_data

In [ ]:
# Regarder dans la base

raw_data.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,NaN,35,0.0,33.6,0.627,50,1
1,1.0,85,NaN,29,0.0,26.6,0.351,31,0
2,8.0,183,NaN,0,0.0,23.3,0.672,32,1
3,1.0,89,NaN,23,94.0,28.1,0.167,21,0
4,0.0,137,NaN,35,168.0,43.1,2.288,33,1
5,5.0,116,NaN,0,0.0,25.6,0.201,30,0
6,3.0,78,NaN,32,88.0,31.0,0.248,26,1
7,10.0,115,NaN,0,0.0,35.3,0.134,29,0
8,2.0,197,NaN,45,543.0,30.5,0.158,53,1
9,8.0,125,NaN,0,0.0,0.0,0.232,54,1

## 3- Afficher les 10 dernières lignes de la raw_data

In [ ]:
# Regarder dans la base
raw_data.tail(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
758,1.0,106,76.0,0,0.0,37.5,0.197,26,0
759,6.0,190,92.0,0,0.0,35.5,0.278,66,1
760,2.0,88,58.0,26,16.0,28.4,0.766,22,0
761,9.0,170,74.0,31,0.0,44.0,0.403,43,1
762,9.0,89,62.0,0,0.0,22.5,0.142,33,0
763,10.0,101,76.0,48,180.0,32.9,0.171,63,0
764,2.0,122,70.0,27,0.0,36.8,0.340,27,0
765,5.0,121,72.0,23,112.0,26.2,0.245,30,0
766,1.0,126,60.0,0,0.0,30.1,0.349,47,1
767,1.0,93,70.0,31,0.0,30.4,0.315,23,0

## 4- Quelle est la dimension (nombre de lignes et nombre de colonnes) de raw_data ?

In [ ]:
print(raw_data.shape)

(768, 9)

## 5- Afficher les informations concernant les colonnes et leur type respectif

In [ ]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               741 non-null    float64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             748 non-null    float64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   747 non-null    float64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  581 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(5), int64(4)
memory usage: 54.1 KB

## 6- Combien y-a-t-il de variables numériques

In [ ]:
intcols = raw_data.select_dtypes(include='int64')
floatcols = raw_data.select_dtypes(include='float64')

print(len(intcols) + len(floatcols))

1536

## 7- Quelles sont les deux variables ayant le plus de valeurs manquantes

In [ ]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               741 non-null    float64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             748 non-null    float64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   747 non-null    float64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  581 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(5), int64(4)
memory usage: 54.1 KB

In [ ]:

missing_values = raw_data.loc[:, ['Insulin', 'BloodPressure']].isnull().sum().sort_values(ascending=False)
print(missing_values)

Insulin          21
BloodPressure    20
dtype: int64

## 8- Quelle est la proportion de valeurs manquantes dans les deux variables comportant le moins de valeurs manquantes ?

In [ ]:
raw_data.loc[:, ['Insulin', 'BloodPressure']].isnull().mean().sort_values(ascending=False)

Insulin          0.027344
BloodPressure    0.026042
dtype: float64

## 9- Convertir la variable "Pregnancies" en entier

In [ ]:
raw_data["Pregnancies"].fillna(-999, inplace=True)
raw_data["Pregnancies"] = raw_data["Pregnancies"].astype("int64")

## 10- Vérifier que la conversion a bien été faite

In [ ]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             748 non-null    float64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   747 non-null    float64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  581 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(4), int64(5)
memory usage: 54.1 KB

## 11- imputer la variables Pregnancies par la médiane

In [ ]:
# data_supp_lignes = raw_data.dropna(axis=0)
# print(data_supp_lignes.shape)

(561, 9)

In [ ]:

# data_supp_col = raw_data.dropna(axis=1)

# print(data_supp_col.shape)

(768, 5)

In [ ]:
missingsvalues = raw_data.select_dtypes(include='float64').columns

data_median =  raw_data["Pregnancies"].fillna(raw_data["Pregnancies"].median())
data_median.info()

0       6
1       1
2       8
3       1
4       0
       ..
763    10
764     2
765     5
766     1
767     1
Name: Pregnancies, Length: 768, dtype: Int64
<class 'pandas.core.series.Series'>
RangeIndex: 768 entries, 0 to 767
Series name: Pregnancies
Non-Null Count  Dtype
--------------  -----
768 non-null    Int64
dtypes: Int64(1)
memory usage: 6.9 KB

## 12- Vérifier que l'imputation a bien été faite

## 13- Comment la moyenne et la médiane de la variable Pregnancies ont été modifiées après l'imputation

## 14- Imputer toutes les autres valeurs manquantes par la stratégie de votre choix et explique

### Manuellement

### Automatisé

## 15 Sélectionner toutes les variables sauf outcome

## 16 travailler uniquement les personnes ayant eu au moins une grossesse et la mettre dans une nouvelle table de données nommée donnees_propres

## 17 calculer et afficher la table de correlation de la table donnees_propre

## 18 afficher le graphe de la table de correspondance

## 19 afficher les statistiques descriptives des variables numériques

## 20- Recoder la variable Age de la façon suivante en age_rec

    - si age < 18 alors "mineurs"
    - si age compris entre 18 et 25 alors "juniors"
    - si age comrpis entre 25 et 50 alors "jeunes"
    - si age > 50 alors "senior"


## 21- Afficher le décompte de "age_rec"

## 22- Faire le graphique du coude sur les données propres pour la modelisation du Kmeans

## 23- Quel est le nombre de cluster opimal et l'appliquer au kmeans

## 24- Quelle est la valeur de la silhouette du kmeans

## 25- Afficher le graphique des silhouettes

## 26- Concatener les clusters avec la base des données propres

## 27- Afficher le décompte des clusters via Kmeans

## 28- Faire quelques statistiques descriptives sur le cluster contenant le plus d'individus et commenter

## 29- Modeliser avec DBscan

## 30- Calculer la silhouette moyenne du modele

## 31- Faire le graphique des clusters obtenus avec les variables de votre choix

## 32- Concatener les clusters avec la base des données propres contenant également les clusters issus des kmeans

## 33- Afficher le décompte des clusters via dbscan

## 34- Faire quelques statistiques descriptives sur le cluster contenant les outliers et commenter

## 35- Modeliser via Isolation Forest

## 36- Combien de clusters avez-vous obtenus ?

## 37- Afficher le graphique des clusters obtenus via Iso Forest avec les variables de votre choix

## 38 Concatener les clusters avec la base des données propres contenant également les clusters issus des kmeans et dbscan

## 39- Est- ce que ce sont les mêmes individus qu'on retrouve dans les outliers dbscan et les outliers isolation forest ?

## 40- Quel est selon vous, le meilleur modèle entre Kmean et dbscan ? justifiez